# Ignore semua
*

# Core Laravel
!app/
!app/**
!bootstrap/
!bootstrap/**
!config/
!config/**
!database/
!database/**
!lang/
!lang/**
!resources/
!resources/**
!routes/
!routes/**
!storage/
!storage/.gitkeep

# Public
!public/
!public/**

# Composer
!composer.json
!composer.lock

# Artisan & config files
!artisan
!.gitignore
!.env.example

# Yang TIDAK masuk git:
# vendor/  → di-generate composer install di server
# .env     → sensitive, berbeda tiap environment
# storage/app/, storage/logs/ → file upload & log server
